{% extends '::base.html.twig' %}

{% block title %}Edit Guild {{ guild }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                Edit Guild {{ guild}}
                <a class="btn btn-xs btn-info pull-right" href="{{ path('loki.tuo.guild.index') }}">
                    <span class="glyphicon glyphicon-chevron-left">Back</span>
                </a>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.enabled) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
