{% extends '::base.html.twig' %}
{% block body %}

    <!-- lightbox container hidden with CSS -->
    <a href="#" class="lightbox" id="img2">
        <img src="{{ asset('bundles/lokituoresult/images/request-details-2.png') }}">
    </a>

    <div id="step1" class="panel panel-info">
        <div class="panel-heading">
            Step 1: Claim Player
        </div>
        <div class="panel-body">
            To claim your Players. You need to edit your Player/s. <br/>
            You can do so via the <i class="glyphicon glyphicon-pencil"></i><i>Pencil Icon</i>  on the
            <a href="{{ path('loki.tuo.player.all.show') }}">Player Overview</a> next to the Cards Link<br/>
            <img src="{{ asset('bundles/lokituoresult/images/edit-button.png') }}" class="thumbnail"><br/>
            Once you saved your Changes, you can need a Confirmation from a Moderator, feel free to ping one of {{ moderators | join(', ') }}
        </div>
    </div>

    <div id="step2" class="panel panel-info">
        <div class="panel-heading">
            Step 2: Get Credentials
        </div>
        <div class="panel-body">
            After your player claim is confirmed, you are ready te get your Credentials. To get them you <b>must use a Computer</b><br/>
            First: Open <a target="_blank" href="http://www.kongregate.com/de/games/synapticon/tyrant-unleashed-web">TU</a><br/>
            Second: Open Developertools, you can do this by
            <ul>
                <li>Chrome on OsX: <kbd>CMD</kbd> + <kbd>ALT</kbd> + <kbd>I</kbd></li>
                <li>Firefox on OsX: <kbd>CMD</kbd> + <kbd>ALT</kbd> + <kbd>I</kbd></li>
                <li>Chrome on WIndows: <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>I</kbd></li>
                <li>Firefox on WIndows: <kbd>CTRL</kbd> + <kbd>SHIFT</kbd> + <kbd>Q</kbd></li>
            </ul>
            Now there will be multiple Tabs. Open the <code>Network</code> Tab. <img src="{{ asset('bundles/lokituoresult/images/dev-tools-network-tab.png') }}" class="thumbnail"><br/>
            Click on the TrashcanIcon <img src="{{ asset('bundles/lokituoresult/images/dev-tools-trash.png') }}" class="thumbnail" style="max-width: 40%"><br/>
            Now Ingame click on the store. <br/>
            In the Devtools Tab Network there will be at least 1 request with a target <code>api.php?message...</code><br/>
            click on one of them and then on the <code>parameters</code> tab<br/>
            <a href="#img2">  <img src="{{ asset('bundles/lokituoresult/images/request-details-2.png') }}" class="thumbnail"></a><br/>
            There you will see different Data. The important ones are:
            <ul>
                <li><code>user_id</code></li>
                <li><code>password</code></li>
                <li><code>hash</code></li>
                <li><code>syncode</code></li>
                <li><code>kong_id</code></li>
                <li><code>kong_token</code></li>
                <li><code>kong_name</code></li>
            </ul>
            You will need these in the next Step.
        </div>
    </div>

    <div id="step3" class="panel panel-info">
        <div class="panel-heading">
            Step 3: Enter Data
        </div>
        <div class="panel-body">
            If your claim on a Player is confirmed, you need to go to the edit page again<br/>
            You can do so via the <i class="glyphicon glyphicon-pencil"></i><i>Pencil Icon</i>  on the
            <a href="{{ path('loki.tuo.player.all.show') }}">Player Overview</a> next to the Cards Link<br/>
            <img src="{{ asset('bundles/lokituoresult/images/edit-button.png') }}" class="thumbnail"><br/>
            Now there will be additional Fields for the Values you got from <a href="#step2">step 2</a>. Enter them and Save.
        </div>
    </div>

    <div id="step4" class="panel panel-info">
        <div class="panel-heading">
            Step 4: Import Inventory
        </div>
        <div class="panel-body">
            If your player has TU Credentials you will see a <i class="glyphicon glyphicon-cloud-upload"></i> Icon next to your Username<br/>
            Now you can go to the Cards Page of your Player, the you will see a  {% trans %}update.inventory{% endtrans %}-Button.
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}
