<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Carry No Saints Simulations{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css"/>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container" role="main">
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('tuo.index') }}">CTP/CNS SImulations</a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown{% if currentPath starts with '/simulation/' %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Simulation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if currentPath == '/simulation/' %}class="active"{% endif %}>
                                <a href="{{ path('tuo.index') }}">Simulations</a>
                            </li>
                            <li {% if currentPath == '/simulation/create' %} class="active" {% endif %}>
                                <a href="{{ path('loki.tuo.sim.create') }}">Generate Mass Sim Script</a>
                            <li {% if currentPath == '/simulation/create/vpc' %} class="active" {% endif %}>
                                <a href="{{ path('loki.tuo.sim.create.vpc') }}">Execute VPC Simulation</a>
                            </li>
                            <li {% if currentPath == '/simulation/upload' %} class="active" {% endif %}>
                                <a href="{{ path('loki.tuo.result.upload') }}">Upload Result</a>
                            </li>

                        </ul>
                    </li>


                    <li {% if currentPath starts with '/player' %} class="active" {% endif %}>
                        <a href="{{ path('loki.tuo.player.all.show') }}">Players</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    {% endif %}


                    {% if is_granted('ROLE_MODERATOR') %}
                        <li class="dropdown{% if currentPath starts with '/import/'
                        or  currentPath starts with '/user/'
                        or currentPath starts with '/card/'
                        or currentPath starts with '/guild/' %} active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li {% if currentPath starts with '/import/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.import.index') }}">Imports</a></li>
                                <li {% if currentPath starts with '/user/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.user.user.index') }}">Users</a></li>
                                <li {% if currentPath starts with '/card/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.card.index') }}">Cards</a></li>
                                <li {% if currentPath starts with '/guild/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.guild.index') }}">Guilds</a></li>

                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Welcome, {{ app.user }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if app.user.players is not empty%}
                                    <li role="separator" class="divider"></li>
                                    {% for player in app.user.players %}
                                        <li><a href="{{ path('loki.tuo.player.cards.show', {'id': player.id}) }}">{{ player.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                {#<li><a href="#">Another action</a></li>#}
                                {#<li><a href="#">Something else here</a></li>#}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                {#<li><a href="#">Separated link</a></li>#}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login<span class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Register<span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="padding-top: 70px;">
        <!-- We need some padding, so the Navbar wont overlap the content-->
    </div>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>Error!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{ flashMessage }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

</div>
<script src="{{ asset('bundles/lokituoresult/vendor/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({
            responsive: true,
            paging: false,
            searching: true,
            ordering: true
        });
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
