<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/lokituoresult/css/style.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container" role="main">
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('tuo.index') }}">{{ 'nav.title'|trans }}</a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown{% if currentPath starts with '/simulation/' %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'nav.simulation'|trans }}<span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if currentPath == '/simulation/' %}class="active"{% endif %}>
                                <a href="{{ path('tuo.index') }}">{{ 'nav.simulation.index'|trans }}</a>
                            </li>
                            <li {% if currentPath == '/simulation/create' %} class="active" {% endif %}>
                                <a href="{{ path('loki.tuo.sim.create') }}">{{ 'nav.simulation.create'|trans }}</a>
                                {#<li {% if currentPath == '/simulation/create/vpc' %} class="active" {% endif %}>#}
                                {#<a href="{{ path('loki.tuo.sim.create.vpc') }}">Execute VPC Simulation</a>#}
                                {#</li>#}
                            <li {% if currentPath == '/simulation/upload' %} class="active" {% endif %}>
                                <a href="{{ path('loki.tuo.result.upload') }}">{{ 'nav.simulation.upload'|trans }}</a>
                            </li>

                        </ul>
                    </li>


                    <li {% if currentPath starts with '/player' %} class="active" {% endif %}>
                        <a href="{{ path('loki.tuo.player.all.show') }}">{{ 'nav.player'|trans }}</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}{% endif %}

                    {% if is_granted('ROLE_MODERATOR') %}
                        <li class="dropdown{% if currentPath starts with '/import/'
                        or  currentPath starts with '/user/'
                        or currentPath starts with '/card/'
                        or currentPath starts with '/guild/' %} active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'nav.admin'|trans }}<span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li {% if currentPath starts with '/import/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.import.index') }}">{{ 'nav.admin.import'|trans }}</a>
                                </li>
                                <li {% if currentPath starts with '/user/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.user.user.index') }}">{{ 'nav.admin.user'|trans }}</a>
                                </li>
                                <li {% if currentPath starts with '/card/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.card.index') }}">{{ 'nav.admin.card'|trans }}</a>
                                </li>
                                <li {% if currentPath starts with '/guild/' %} class="active" {% endif %}><a
                                            href="{{ path('loki.tuo.guild.index') }}">{{ 'nav.admin.guild'|trans }}</a>
                                </li>

                            </ul>
                        </li>
                    {% endif %}
                    <li class="dropdown{% if currentPath starts with '/help/' %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}nav.help{% endtrans %}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if currentPath starts with '/help/tuCredentials' %} class="active" {% endif %}><a
                                        href="{{ path('loki.tuo.help.tucred') }}">{% trans %}
                                    nav.help.tuCredentials{% endtrans %}</a></li>

                        </ul>

                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ render(controller('LokiTuoResultBundle:QueueItem:index')) }}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ 'nav.welcome %name%'|trans({'%name%' : app.user}) }}
                                <div class="badge" style="display: none" id="message-user">0</div>
                                <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if app.user.players is not empty %}
                                <li><a href="{{ path('fos_user_change_password') }}">Change password</a> </li>
                                {% if app.user.players is not empty%}
                                    <li role="separator" class="divider"></li>
                                    {% for player in app.user.players %}
                                        <li>
                                            <a href="{{ path('loki.tuo.ownedcard.cards.show', {'id': player.id}) }}">{{ player.name }}
                                                <div class="badge" style="display: none"
                                                     id="message-player-{{ player.id }}">0
                                                </div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'nav.logout'|trans }}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}"><span
                                        class="glyphicon glyphicon-log-in"></span> {{ 'nav.login'|trans }}<span
                                        class="sr-only">(current)</span></a>
                        </li>
                        <li><a href="{{ path('fos_user_registration_register') }}"><span
                                        class="glyphicon glyphicon-user"></span> {{ 'nav.register'|trans }}<span
                                        class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="padding-top: 70px;">
        <!-- We need some padding, so the Navbar wont overlap the content-->
    </div>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>{{ 'error'|trans }}!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <strong>{{ 'success'|trans }}!</strong> {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% block body %}{% endblock %}

</div>
<script src="{{ asset('bundles/lokituoresult/vendor/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/lokituoresult/vendor/jquery-ui-1.12.0.custom/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/lokituoresult/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('js/fos_js_routes.js') }}"></script>
<script src="{{ asset('bundles/lokituoresult/js/app.js') }}"></script>
<script>
    $(document).ready(function () {
        var debug = {{ app.environment=="dev"?"true":"false" }};
        $('.data-table').DataTable({
            responsive: true,
            paging: false,
            searching: true,
            ordering: true
        });
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% for player in app.user.players %}
        getPlayerBadge({{ player.id }});
        {% endfor %}
        getUserBadge();
        {% endif %}

    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
