{% extends '::base.html.twig' %}

{% block title %}CTP/CNS Simming Results{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                Create Simulation Script
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.missions) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.backgroundeffect) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.structures) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.enemyStructures) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.iterations) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.threadCount) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.guild) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.players) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.simType) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.scriptType) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.save) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var guildSelect = $('#simulation_guild');
            guildSelect.change(function () {
                console.log($(this).find("option:selected").text());
                var guild = $(this).find("option:selected").text();
                disableOptions(guild);
            });


            var disableOptions = function (guild) {
                var selectPlayers = $('#simulation_players');
                var allOptions = selectPlayers.find('option');
                console.log(allOptions);
                allOptions.hide();
                allOptions.attr('disabled','disabled');
                var options = selectPlayers.find('option[data-guild="'+guild+'"]');
                console.log(options);
                options.show();
                options.removeAttr('disabled');
                options.disabled = true;
                console.log(options);
            };

            disableOptions(guildSelect.find("option:selected").text());
        });

    </script>
{% endblock %}