{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <h2>This is the Website for the CarryNoSaints Guild.</h2>
    </div>
    <div class="row">
        Here you will see all Simulations done by LokiMcFly<br/>
    </div>

    {% for guild, guildMissions in missions %}
        <div class="row">
            Simulations for {{ guild }}
            <ul class="">
                {% for mission in guildMissions %}
                    <li>
                        <a href="{{ path('tuo.showmission', {'missionId': mission.id, 'guild' : guild}) }}">
                            <b>{{ mission.name }} {{ guild }}</b>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div class="row">
        <a href="{{ path('loki.tuo.player.all.show') }}"><h4>Playerlist</h4></a>
    </div>

    <div class="row" style="margin-top: 20px;">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}