{% extends '::base.html.twig' %}
{% block body %}
    <div class="row">
        <h2>This is the Website for the CarryNoSaints Guild.</h2>
    </div>
    <div class="row">
        Here you will see all Simulations done by LokiMcFly<br/>
    </div>
    {% if is_granted('ROLE_ADMIN') %}

        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.file) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}


    <div class="row">
        <ul class="">
            {% for mission in missions %}
                <li>
                    <a href="{{ path('tuo.showmission', {'missionId': mission.id}) }}">
                        <b>{{ mission.name }} {{ mission.guilds | join(', ') }}</b>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <a href="{{ path('loki.tuo.player.all.show') }}"><h4>Playerlist</h4></a>
    </div>

    <div class="row" style="margin-top: 20px;">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}