{% extends '::base.html.twig' %}

{% block body %}
    <h1>Result for {{ mission.name }}</h1>
    {% for result in results %}
        {% if result.percent > 850 %}
            {% set class = "panel-success" %}
        {% elseif result.percent > 650 %}
            {% set class = "panel-info" %}
        {% elseif result.percent > 500 %}
            {% set class = "panel-warning" %}
        {% else %}
            {% set class = "panel-danger" %}
        {% endif %}
        <div class="panel {{ class }}">
            <div class="panel-heading">
                Player: {{ result.player.name }} with {{ result.percent/10 | number_format(2) }}%<br/>
            </div>
            <div class="panel-body">
                {% for deckEntry in result.deck %}
                    {{ deckEntry.card.name }}<br/>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

