{% extends '::base.html.twig' %}
{% block body %}

    <div class="row">
        <h3 class="col-md-6 col-md-offset-3 text-center">
            {{ 'import.index.title'|trans }}
        </h3>
    </div>

    <table class="table table-striped data-table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'table.header.guild'|trans }}</th>
            <th>{{ 'table.header.missions'|trans }}</th>
            <th>{{ 'table.header.comment'|trans }}</th>
            <th>{{ 'table.header.status'|trans }}</th>
            <th>{{ 'table.header.date'|trans }}</th>
            <th>{{ 'links'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for file in resultFiles %}
            <tr class="{{ file.status==1?"success":"warning" }}">
                <td>
                    {{ file.id}}
                </td>
                <td>
                    {{ file.guild }}
                </td>
                <td>
                    {{ file.missions }}
                </td>
                <td>
                    {{ file.comment }}
                </td>
                <td>
                    {{ file.statusName }}
                </td>
                <td>
                    {{ file.updatedAt | date("Y-m-d H:i")}}
                </td>
                <td>
                    <a href="{{ path("tuo.resultfile.show", {'id': file.id}) }}">
                        <i class="pull-right glyphicon glyphicon-floppy-save"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" style="margin-top: 20px;">
        {{ 'footer.text'|trans }}<br/>
    </div>
{% endblock %}
