{% extends '::base.html.twig' %}
{% block body %}

    <div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPlayerModalLabel">Upload your Simulation Result here</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.guild) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.owner) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="col-md-6 col-md-offset-3 text-center">
            {{ 'player.index.title'|trans }}
        </h3>
    </div>
    <div id="updateFlash"></div>

    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addPlayerModal">
        {{ 'player.index.add.player'|trans }}
    </button>
    {% if showUpdateButton %}
    <button id="update-link" role="button" type="button" class="ladda-button" data-style="contract" data-color="blue" data-size="xs">
        {{ 'update.inventories'|trans }}
    </button>
    {% endif %}

    <table class="table table-striped data-table">
        <thead>
        <tr>
            <th data-priority="1">{{ 'table.header.name'|trans }}</th>
            <th >{{ 'table.header.guild'|trans }}</th>
            <th data-priority="3">{{ 'table.header.owner'|trans }}</th>
            <th >{{ 'table.header.date'|trans }}</th>
            <th data-priority="2" class="text-right">{{ 'links'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr class="{{ player.active?"success":"warning" }}">
                <td>
                    <a href="{{ path('loki.tuo.player.results.show', {'id': player.id}) }}">{{ player.name }}
                    </a>
                </td>
                <td>
                    {{ player.guild }}
                </td>
                <td>
                    {% if player.owner %}
                        {{ player.owner.username }}
                        {% if is_granted('ROLE_MODERATOR') and not player.ownershipConfirmed %}
                            <a href="{{ path('loki.tuo.player.claim.confirm', {'id': player.id}) }}">
                                <b>confirm</b>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if player.hasKongCredentials %}
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                    {% endif %}
                </td>
                <td>
                    {{ player.updatedAt | date('Y-m-d H:i') }}
                </td>
                <td class="text-right">
                    <a href="{{ path('loki.tuo.ownedcard.cards.show', {'id': player.id}) }}">
                        <b>Cards</b>
                    </a>

                    <a href="{{ path('loki.tuo.player.edit', {'id': player.id}) }}" name="Edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" style="margin-top: 20px;">

        {{ 'footer.text'|trans }}<br/>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function () {
        $('#update-link').click(function () {
            var laddaButton = Ladda.create(document.querySelector('#update-link'));
            laddaButton.start();
            $.ajax({
                url: '{{ path("loki.tuo.tui.update.all") }}',
                error: function (response, textStatus, errorThrown) {
                    var empty = '<div class="alert alert-dismissible alert-%errorType%" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>%errorMsg%</div>';
                    var flash;
                    if (textStatus === "error" && errorThrown === "Gateway Time-out") {
                        flash = empty.replace('%errorType%', 'warning').replace('%errorMsg%', '{% trans %}ownedcard.player.update.timeout{% endtrans %}');
                    }else {
                        flash = empty.replace('%errorType%', 'danger').replace('%errorMsg%', response.responseJSON.error.exception[0].message);
                    }
                    $('#updateFlash').append(flash);
                    laddaButton.stop();

                },
                success: function () {
                    laddaButton.stop();
                    console.log("success");
                    location.reload();
                }
            });

        });
    });
</script>
{% endblock %}