{% extends '::base.html.twig' %}
{% block body %}

    <div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPlayerModalLabel">Upload your Simulation Result here</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="form-group">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.guild) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="col-md-6 col-md-offset-3 text-center">
            All Current and Past Players, who were simmed
        </h3>
    </div>

    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addPlayerModal">
        Add Player
    </button>

    <table class="table table-striped data-table">
        <thead>
        <tr>
            <th data-priority="1">Name</th>
            <th >Guild</th>
            <th data-priority="3">Owner</th>
            <th >Last Updated</th>
            <th data-priority="2" class="text-right">Links</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr class="{{ player.active?"success":"warning" }}">
                <td>
                    <a href="{{ path('loki.tuo.player.results.show', {'id': player.id}) }}">{{ player.name }}
                    </a>
                </td>
                <td>
                    {{ player.guild }}
                </td>
                <td>
                    {% if player.owner %}
                        {{ player.owner.username }}
                        {% if is_granted('ROLE_MODERATOR') and not player.ownershipConfirmed %}
                            <a href="{{ path('loki.tuo.player.claim.confirm', {'id': player.id}) }}">
                                <b>confirm</b>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if player.hasKongCredentials %}
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                    {% endif %}
                </td>
                <td>
                    {{ player.updatedAt | date('Y-m-d H:i') }}
                </td>
                <td class="text-right">
                    <a href="{{ path('loki.tuo.ownedcard.cards.show', {'id': player.id}) }}">
                        <b>Cards</b>
                    </a>

                    <a href="{{ path('loki.tuo.player.edit', {'id': player.id}) }}" name="Edit">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row" style="margin-top: 20px;">

        Simulations and website done by LokiMcFly<br/>
    </div>
{% endblock %}
