{% extends "::base.html.twig" %}

{% block title %}Owned Cards for Player {{ player.name }}{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 style="margin-top: 0;">Owned Cards for Player {{ player.name }}</h2>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">

            Deck for Player: <b>{{ player.name }}</b>
        </div>
        <div class="panel-body">
            <div class="ui-widget">
                <label for="tags">Tags: </label>
                <input id="tags">
            </div>
            {% for card in deck %}
                {{ card.card.name }}<br/>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">

            Owned Cards for Player: <b>{{ player.name }}</b>
            <i class="glyphicon glyphicon-plus"></i>
        </div>
        <div class="panel-body">

            {% for card in cards %}
                {{ card.card.name }}<br/>
            {% endfor %}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="pull-left"><a href="{{ path("tuo.index") }}">back to overview</a></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            var availableTags = [];
            $.get( "{{ path('loki.tuo.cards.all') }}", function( data ) {
//                $( ".result" ).html( data );
                availableTags = data;
                $( "#tags" ).autocomplete({
                    source: data
                });
                console.log(data);
            });

        } );
    </script>
{% endblock %}
