<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <p class="col-md-9 col-xs-9">
                {{ 'ownedcard.show.body.inventory %name%'|trans({'%name%' : player.name}) }}
            </p>
            <div class="col-md-3 col-xs-3">
                {% if is_granted('ROLE_MODERATOR') or player.isOwnedBy(app.user) %}
                    <form method="post"
                          action="{{ path("loki.tuo.ownedcard.card.delete.mass", {'id':player.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="pull-right btn btn-danger btn-md">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </form>
                {% endif %}
                <a href="{{ path("loki.tuo.player.inventory.show", {'id':player.id}) }}">
                    <button type="button" class="pull-right btn btn-primary btn-md">
                        <i class="glyphicon glyphicon-save"></i>
                    </button>
                </a>
                <a>
                    <button type="button" id="btnAddOwnedCardOverlay" class="pull-right btn btn-primary btn-md"
                            data-toggle="modal"
                            data-target="#addOwnedCardModal">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </a>
                <button type="button" class="pull-right btn btn-primary btn-md" data-toggle="modal"
                        data-target="#massAddOwnedCardModal">
                    <i class="glyphicon glyphicon-plus"></i>
                    <i class="glyphicon glyphicon-list-alt"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="ownedCards" class="table table-striped">
            <tbody>
            {% for card in cards %}
                <tr class="row" id="{{ card.id }}">
                    <td class="col-xs-9 card-name">
                        {{ card }}
                    </td>
                    <td class="col-xs-3">
                        <div class="form-group pull-right">

                            <button class="btn btn-success btn-xs submit-button" name="add-to-deck"
                                    data-id="{{ card.id }}">
                                {{ 'ownedcard.show.body.inventory.add.deck'|trans }}
                            </button>
                            <button class="btn btn-danger btn-xs submit-button" name="remove-card"
                                    data-id="{{ card.id }}">
                                <i class="glyphicon glyphicon-minus"></i>
                            </button>
                            <button class="btn btn-primary btn-xs submit-button" name="add-card"
                                    data-id="{{ card.id }}">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>